
<!DOCTYPE html>
<html>
  <head>
    <title>Jami</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100, 100, 100);
        text-align: center;
      }
      h2 {
        font-size: 20px;
        font-family: Roboto;
      }

      #container{
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
    <h1>Welcome to Jami</h1>
    <h2>Here are the French words you heard today while listening to music:</h2>
    <p> [INSERT DYNAMIC List of words and songs]</p>
    <h2>Let's see how often you heard these words today:</h2>
    <p>[INSERT DYNAMIC Histogram]</p>
    <h2>Let's learn what each word means:</h2>
    <p>[INSERT DYNAMIC List meaning, form, and phonemes for each word]</p>
      </div>
  </body>
</html>
